<%@ page language="java" contentType="text/html; charset=UTF-8"
    pageEncoding="UTF-8"%>
<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<%@ taglib prefix="fn" uri="http://java.sun.com/jsp/jstl/functions" %>
<%@ taglib uri="http://www.springframework.org/security/tags" prefix="sec" %>
<%@ taglib uri="http://www.springframework.org/tags/form" prefix="form"%>
<!DOCTYPE html>
<html>
<head>
<meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
<meta name="_csrf" content="${_csrf.token}"/>
<meta name="_csrf_header" content="${_csrf.headerName}"/>
<title>${pageTitle}</title>
<!-- reference our style sheet -->
<link type="text/css" rel="stylesheet"
	href="${pageContext.request.contextPath}/resources/css/style.css" />
<link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-exp.min.css">
<link rel="stylesheet" href="https://unpkg.com/spectre.css/dist/spectre-icons.min.css">

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<style>
body {
  background-image: url("file:///C:/Users/kostas/git/security_author/screenshots/upopto.jpg");
}
</style>
</head>
<body>
	<header class="navbar">
	<div class="navbar-primar">
		<sec:authorize access="hasAnyRole('ROLE_ADMIN')">	
			<a href="<c:url value="/gramateia/addFoititis"></c:url>" class="btn btn-link">Add a Student</a>
			<a href="${pageContext.request.contextPath}/gramateia/list1" class="btn btn-link">List Students</a>
			<a href="<c:url value="/gramateia/addJob"></c:url>" class="btn btn-link">Add a Job</a>
			<a href="${pageContext.request.contextPath}/gramateia/list" class="btn btn-link">List Jobs</a>	
			<a class="btn btn-link" name="logout-nav"> Logout</a>
			</sec:authorize>
			<sec:authorize access="hasAnyRole('ROLE_COMPANY')">
			<a href="<c:url value="/gramateia/addJob"></c:url>" class="btn btn-link">Add a Job</a>
			<a href="${pageContext.request.contextPath}/gramateia/allpage" class="btn btn-link">Rest</a>
			<a href="<c:url value="/gramateia/addJob2"></c:url>" class="btn btn-link">Rest Job</a>	
			<a class="btn btn-link" name="logout-nav"> Logout</a>
			</sec:authorize>
			<sec:authorize access="hasAnyRole('ROLE_STUDENT')">
			<a href="${pageContext.request.contextPath}/foititis/checkSemester" class="btn btn-link">Check semester</a>
			<a href="${pageContext.request.contextPath}/foititis/checkNon_passed_subjects" class="btn btn-link">Check non passed subjects</a>
			<a href="${pageContext.request.contextPath}/foititis/checkFinal" class="btn btn-link">Final check</a>
			<a href="<c:url value="/foititis/choiceFoititis"></c:url>" class="btn btn-link">Choose your jobs</a>
			<a class="btn btn-link" name="logout-nav"> Logout</a>
			</sec:authorize>		
	</div>
	</header>